#detaljiTable {
    padding: 25px;
    border: 5px solid crimson;
    border-radius: 20px;
    margin-left: 26%;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.polje {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#detaljiTable td {
    padding: 15px;
}

#detaljiFC {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 35px;
    font-weight: bold;
}

#nazivFC, #ulicaFC, #vlasnikFC, #godinaFC, #cenaMCFC, #cenaJTFC, #cenaJPTFC, #cenaGTFC, #cenaGT {
    padding: 2px;
    height: 30px;
    border: 0px;
    color: black;
    background-color: #d1d1d5;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
}

    #nazivFC:hover, #ulicaFC:hover, #vlasnikFC:hover, #godinaFC:hover, #cenaMCFC:hover, #cenaJTFC:hover, #cenaJPTFC:hover, #cenaGTFC:hover, #brojFC:hover, #gradFC:hover, #postanskiKodFC:hover, #cenaGT:hover {
        background-color: crimson;
        color: white;
    }

#brojFC {
    margin-left: -100px;
    padding: 5px;
    height: 30px;
    width: 60px;
    border: 0px;
    color: black;
    background-color: #d1d1d1;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
}

#gradFC {
    width: 150px;
    margin-left: -200px;
    padding: 5px;
    height: 30px;
    border: 0px;
    color: black;
    background-color: #d1d1d1;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
}

#postanskiKodFC {
    width: 80px;
    margin-left: -150px;
    padding: 5px;
    height: 30px;
    border: 0px;
    color: black;
    background-color: #d1d1d1;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
}

#grupniTreninziTable {
    background-color: black;
    border: collapse;
    margin-top: 5%;
    min-width: 900px;
    margin-left: 25%;
    font-size: 18px;
    color: crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}

    #grupniTreninziTable td {
        padding: 10px;
    }

    #grupniTreninziTable th {
        padding: 10px;
        text-align: center;
        background-color: crimson;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #grupniTreninziTable tr {
        text-align: center;
        background-color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

#grupniTreninzi {
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}

#prijava {
    font-weight: bold;
    font-size: 14px;
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 10px;
    padding: 7px;
}

    #prijava:hover {
        color: black;
    }

#grupniTreninziTable tr.polje:hover {
    color: crimson;
}

#istorija {
    font-size: 30px;
    font-weight: bold;
    margin-left: 42%;
    color: crimson;
    font-size: 28px;
}

.odobreniTable {
    margin-top: 1%;
    padding-top: 10px;
    width: 800px;
    border: 1px solid black;
    margin-left: 25%;
    font-size: 20px;
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    font-style: italic;
}

    .odobreniTable td {
        padding: 5px;
    }

#odobreniKom {
    margin-left: 100px;
    margin-left: 25%;
    font-size: 30px;
    font-weight: bold;
}

#komentarInput {
    resize: none;
    border-radius: 10px;
    text-align: left;
    width: 340;
    background-color: #d1d1d1;
}

#ocenaTh {
    font-weight: bold;
    padding: 1px;
    border-radius: 10px;
}