
.polje {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#grupniTreninziTable {
    background-color: black;
    border: collapse;
    min-width: 1000px;
    margin-top: 1%;
    margin-left: 20%;
    font-size: 18px;
    color: crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}

    #grupniTreninziTable td {
        padding: 10px;
    }

    #grupniTreninziTable th {
        padding: 10px;
        text-align: center;
        background-color: crimson;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #grupniTreninziTable tr {
        text-align: center;
        background-color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

#grupniTreninzi {
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}

#grupniTreninziTable tr.polje:hover {
    color: crimson;
}

#pretraga {
    margin-left: 21%;
}

input[type='checkbox'] {
    cursor: pointer;
    margin-right: 10px;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.0em;
    margin-bottom: -3px;
}

#pretragaBtn {
    width: 80px;
    margin-left: 5px;
    border: 2px solid crimson;
    border-radius: 10px;
    background-color: white;
    height: 30px;
    color: crimson;
    font-size: 16px;
}

#nazivInput {
    border: 2px solid black;
    border-radius: 10px;
    width: 160px;
    height: 30px;
    text-align: center;
}

#tipInput {
    border: 2px solid black;
    border-radius: 10px;
    width: 130px;
    height: 36px;
    text-align: center;
}

#fitnesCentarInput {
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
}

#pretragaBtn:hover {
    color: black;
}

#sortBtnNaziv, #sortBtnDatum, #sortBtnTip {
    margin-left: 2%;
    color: white;
    background-color: crimson;
    border: 1px solid crimson;
}

#komentar {
    font-weight: bold;
    font-size: 14px;
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 10px;
    padding: 7px;
}

    #komentar:hover {
        color: black;
    }

#komentarBtn {
    font-weight: bold;
    font-size: 14px;
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 10px;
    padding: 7px;
}

#komentarBtn:hover {
    color: black;
}

#komentarP {
    font-size: 30px;
    font-weight: bold;
    margin-left: 21%;
}

#komentarTable {
    border: 2.5px solid crimson;
    padding: 20px;
    margin-left: 21%;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

    #komentarTable td {
        padding: 10px;
    }

#nazivFcInput, #posetilacInput {
    font-style: italic;
    border-color: #d1d1d5;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #d1d1d5;
}

    #nazivFcInput:hover, #posetilacInput:hover, #ocena:hover {
        background-color: crimson;
        color: white;
    }

#textArea {
    resize: none;
    text-align: left;
    font-size: 13px;
    background-color: #d1d1d5;
    border-color: #d1d1d5;
    border-radius: 10px;
    padding: 10px;
}

#proslediBtn {
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border-color: crimson;
    border-width: 1px;
    color: black;
    margin-top: 0px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 12px;
}

#ocena {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #d1d1d5;
    border-color: #d1d1d5;
}

#proslediBtn:hover {
    background-color: crimson;
    color: white;
}