#nalogTable {
    padding: 20px;
    border: 5px solid crimson;
    border-radius: 20px;
    margin-left: 28%;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.polje {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nalogTable td {
    padding: 15px;
}

#nalogCaption {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 35px;
    font-weight: bold;
}

#username, #sifra, #ime, #prezime, #email, #datum, #uloga, #pol {
    padding: 2px;
    height: 30px;
    border: 0px;
    color: black;
    background-color: #d1d1d5;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
    width: 200px;
}

    #username:hover, #sifra:hover, #ime:hover, #prezime:hover, #email:hover, #datum:hover, #uloga:hover, #pol:hover {
        background-color: crimson;
        color: white;
    }

#izmeniBtn {
    background-color: white;
    margin-left: 1%;
    width: 150px;
    height: 60px;
    border-radius: 50px;
    border-color: crimson;
    border-width: 1px;
    color: black;
    margin-top: 20px;
    font-weight: bold;
}

    #izmeniBtn:hover {
        background-color: crimson;
    }

#obradaTable, #odbijeniTable {
    margin-top: 1%;
    min-width: 800px;
    max-width: 1000px;
    border: collapse;
    margin-left: 25%;
    font-size: 18px;
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}

#odbijeniTable {
    min-width: 1000px;
}

    #obradaTable th, #odbijeniTable th {
        padding: 6px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: crimson;
    }


    #obradaTable td, #odbijeniTable td {
        text-align: center;
        padding: 10px;
        background-color: white;
        color: black;
    }

    #obradaTable tr.item:hover, #odbijeniTable tr.item:hover {
        font-weight: bolder;
    }

#prikaziBtn {
    font-weight: bold;
    font-size: 16px;
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 10px;
    padding: 7px;
}

#odobriBtn, #odbaciBtn {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 10px;
    padding: 7px;
}

    #odobriBtn:hover {
        background-color: green;
        color: white;
        border-color: black;
    }

    #odbaciBtn:hover {
        background-color: red;
        color: white;
        border-color: black;
    }

#prikaziBtn:hover {
    color: black;
}

#odbijeniKom {
    margin-left: 100px;
    margin-left: 25%;
    font-size: 30px;
    font-weight: bold;
}

#tekstPolje{
    font-size: 14px;
}

#grupniTreninziTable {
    background-color: black;
    margin-top: 1%;
    min-width: 700px;
    margin-left: 18%;
    font-size: 15px;
    color: crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}

.nazivGT, .trajanjeGT, .datumIVremeGT, .maxPosetilacaGT, .vremeGT, .tipGT {
    padding: 10px;
    text-align: center;
    border: none;
}
.vremeGT {
    width: 40px;
    margin-right: 10px;
}
.datumIVremeGT {
    display: inline-block !important;
    width: 200px;
}

.tipGT {
    height: 45px;
    text-align: center;
}

#grupniTreninziTable td {
    padding: 10px;
}

#grupniTreninziTable .inputPolje {
    padding: 0px;
}



#grupniTreninziTable th {
    padding: 10px;
    text-align: center;
    background-color: crimson;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#grupniTreninziTable tr {
    text-align: center;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#grupniTreninzi {
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}

#izmeni, #obrisi, #pregledaj {
    font-weight: bold;
    font-size: 14px;
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 10px;
    padding: 7px;
}

    #izmeni:hover, #obrisi:hover, #pregledaj:hover {
        color: black;
    }

#grupniTreninziTable tr.polje:hover {
    color: crimson;
}
